<IfModule mod_rewrite.c>
 RewriteEngine On
 
 #Protected Pages
 RewriteCond %{REQUEST_URI} ^/framework_template/
 RewriteCond %{REQUEST_FILENAME} -d
 RewriteRule . ErrorDocument/403.php [L]    
 
 #Action Page
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 
 RewriteRule index$    							index.php [L] 
 RewriteRule index.exe$    						index.php [L] 
 RewriteRule index.jsp$    						index.php [L] 
 RewriteRule index.asp$    						index.php [L] 
 RewriteRule index.css$    						index.php [L] 

 RewriteRule ajax/?$    						ajax.php [L]   
 RewriteRule ajax/([^/.]+)/?$					ajax.php?do_act=$1  [L]	 
 RewriteRule ajax/([^/.]+)/([^/.]+)?$			ajax.php?do_act=$1&id_parameter=$2  [L]	

 RewriteRule kategori/?$    						kategori.php [L]   
 RewriteRule kategori/([^/.]+)/?$					kategori.php?do_act=$1  [L]	 
 RewriteRule kategori/([^/.]+)/([^/.]+)?$			kategori.php?do_act=$1&id_parameter=$2  [L]	

 RewriteRule transaksi/?$    						transaksi.php [L]   
 RewriteRule transaksi/([^/.]+)/?$					transaksi.php?do_act=$1  [L]	 
 RewriteRule transaksi/([^/.]+)/([^/.]+)?$			transaksi.php?do_act=$1&id_parameter=$2  [L]	

  RewriteRule dompet/?$    						dompet.php [L]   
 RewriteRule dompet/([^/.]+)/?$					dompet.php?do_act=$1  [L]	 
 RewriteRule dompet/([^/.]+)/([^/.]+)?$			dompet.php?do_act=$1&id_parameter=$2  [L]	


</IfModule>